---
import Antistress from './Antistress.astro'
const menuLinks = [
  {
    name: 'Кейсы',
    href: '#cases',
  },
  {
    name: 'Опыт и скилсет',
    href: '#experience',
  },
  {
    name: 'Курсы',
    href: '#courses',
  },
  {
    name: 'Интересы',
    href: '#interests',
  },
]

const otherLinks = [
  {
    name: 'Телеграм',
    href: 'https://t.me/irakariochi',
    imgName: 'tg_link_pic.jpg',
  },
  {
    name: 'CV',
    href: '/CV_Irina_Vasyuk.pdf',
    imgName: 'cv_link_pic.jpg',
  },
  {
    name: 'Notion',
    href: 'https://irinavasyuk.notion.site/0a1d9b3ec1774f849100a8f1475d706a',
    imgName: 'notion_pic.jpg',
  },
  {
    name: 'Behance',
    href: 'https://www.behance.net/irakariochi',
    imgName: 'be_link_pic.jpg',
  },
  {
    name: 'Канал',
    href: 'https://t.me/irakariochidesign',
    imgName: 'chanel_link_pic.jpg',
  },
]
---

<nav class='menu'>
  <div class='group-top'>
    <div class='menu__items'>
      {
        menuLinks.map(link => (
          <a class='menu__item' href={link.href}>
            {link.name}
          </a>
        ))
      }
    </div>
    <div class='menu__items menu__items_other'>
      {
        otherLinks.map(link => (
          <a class='menu__item_other' target='_blank' href={link.href}>
            <img class='menu__item-pic' src={`/images/${link.imgName}`} width='32' height='32' alt='' loading='lazy' />
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
  <Antistress />
</nav>

<style>
  .menu {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    gap: 4rem;
    height: calc(100dvh - 1.5rem);
  }

  .group-top {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  .menu__items {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
  }

  .menu__item {
    background-color: var(--white);
    padding: 0.5rem;
    width: max-content;
    text-decoration: none;
    transition:
      color 0.3s ease,
      font-weight 0.3s ease;
  }

  .menu__item:hover {
    background-color: var(--accent);
    color: var(--white);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .menu__item.active {
    background-color: var(--accent);
    color: var(--white);
  }

  .menu__item_other {
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: var(--white);
  }

  .menu__item_other:hover {
    color: var(--accent);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  @media (width < 1024px) {
    .desktop-only {
      display: none;
    }

    .group-top {
      gap: 3rem;
    }
    .menu {
      height: max-content;
      overflow: hidden;
    }

    .menu__items_other {
      gap: 0.75rem;
    }

    .menu__item {
      font-size: 1.25rem;
      padding: 0.25rem 0.5rem;
    }
    .menu__item_other {
      font-size: 1.25rem;
    }
  }
</style>
<script>
  const sections = document.querySelectorAll<HTMLElement>('.scroll-section')
  const menuLinks = Array.from(document.querySelectorAll('.menu__item'))

  const observerCallback = (entries: IntersectionObserverEntry[], observer: IntersectionObserver) => {
    entries.forEach(entry => {
      if (!entry.isIntersecting || window.innerWidth < 1024) {
        return
      }
      const sectionId = entry.target.id
      menuLinks.forEach(link => {
        link.classList.remove('active')
        if (link.getAttribute('href') === `#${sectionId}`) {
          link.classList.add('active')
        }
      })
    })
  }
  const observer = new IntersectionObserver(observerCallback, {
    root: null,
    threshold: 0,
    rootMargin: '-50% 0px', //Trigger when section top at the center of the screen
  })
  sections.forEach(section => {
    observer.observe(section)
  })

  menuLinks.forEach(menuLink => {
    menuLink.addEventListener('click', closeMobileMenuOnLinkClick)
  })

  function closeMobileMenuOnLinkClick() {
    const mobileMenu = document.querySelector('.mobile-menu')
    if (mobileMenu.classList.contains('hidden')) {
      return
    }
    mobileMenu.classList.add('hidden')
    document.body.classList.remove('noscroll')
  }
</script>
