---
import BaseSection from '../components/base/BaseSection.astro'
import TextCard from './TextCard.astro'
import SpecialCard from './SpecialCard.astro'
type Card = {
  cardTitle: string
  cardText: string
  htmlContent?: string
  bottomText?: string
  date?: string
  link?: string
}
const cards: Card[] = [
  {
    cardTitle: 'Прошла курс «Продуктовый подход для дизайнеров»',
    cardText: `Разобралась из чего состоит продуктовый цикл, как через дизайн влиять на метрики и как работать
          с фреймворками`,
    bottomText: 'Яндек.Практикум',
    date: '8.2024',
  },
  {
    cardTitle: 'Прошла курс «Фронтенд-разработка»',
    cardText: `Освоила html/css/js, научилась верстать сайты`,
    bottomText: 'Яндек.Практикум',
    date: '8.2024',
    //Вот тут немного костыльно получается, но пока лучше не придумал
    htmlContent: `<p class='list-title'>Примеры вёрстки:</p>
    <ul class='list'>
          <li class='list-item'>
            <a class='list-item__link' href='https://irina-vasyuk.github.io/explore_russia/'>Сайт о путешествиях</a>
          </li>
          <li class='list-item'>
            <a class='list-item__link' href='https://irina-vasyuk.github.io/learning_to_learn/'>Сайт про обучение</a>
          </li>
          <li class='list-item'><a class='list-item__link' href="#" class='text-card-subtitle'>Этот сайт-портфолио</a></li>
        </ul>`,
  },
]
---

<BaseSection id='courses' classes='courses scroll-section' title='Курсы и самообразование'>
  <p class='description'>
    Регулярно прохожу обучения, чтобы оставаться в актуальной повестке. Читаю книги по дизайну и собираю базу знаний
  </p>
  <div class='cards-grid'>
    {
      cards.map(card => (
        <TextCard
          cardTitle={card.cardTitle}
          cardText={card.cardText}
          htmlContent={card.htmlContent}
          bottomText={card.bottomText}
          date={card.date}
        />
      ))
    }
    <SpecialCard />
  </div>
</BaseSection>
<style>
  .description {
    color: var(--white);
    font-family: var(--font-grotesk);
    font-size: 28px;
    font-weight: 500;
    line-height: 125%;
    max-width: 680px;
    margin-bottom: 1.5rem;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
    margin-bottom: 0.6rem;
  }
</style>
